@import "tailwindcss/base";
@import "tailwindcss/components";

@import './components';

@import "tailwindcss/utilities";

/* html {
    --color-bg-logo-primary: #00E8D5;
    --color-bg-primary: #0075db;
    --color-bg-secondary: #C95858;
    --color-bg-default: #f4f4f4;
    --color-bg-inverse: #2E2F2F;
  
    --color-text-primary: #fff;
    --color-text-secondary: #C95858;
    --color-text-default: #373737;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #fff;
    --color-text-inverse-soft: #bbb;
  
    --font-display: Georgia, Times, "Times New Roman", serif;
    --font-body: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
      "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana,
      "Verdana Ref", sans-serif;
  
    --font-weight-normal: 400;
    --font-weight-display: 400;
    --font-weight-btn: 600;
  
    --rounded-btn: 0;
} */
